<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
    <nav class="navbar">
    <div class="nav-left">
        <a th:href="@{/store}" class="nav-link">Store</a>
        <a th:href="@{/basket}" class="nav-link">Basket</a>
        <a th:href="@{/profile}" class="nav-link">Profile</a>
    </div>
</nav>

    <div class="profile-container">
        <h1>Your Profile</h1>
        <form th:action="@{/profile/update}" th:object="${userForm}" method="post" novalidate>
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" it="name" th:field="*{name}" />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-bubble">Name Error</span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" th:field="*{email}" required>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-bubble">Email Error</span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" th:field="*{password}" required>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-bubble">Password Error</span>
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password</label>
                <input type="password" id="confirm" name="confirm" th:field="*{confirm}" required>
                <span th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}" class="error-bubble">Confirm Error</span>
            </div>
            <button type="submit">Register</button>
            <p class="muted">Already have an account? <a th:href="@{/}">Login</a></p>
        </form>
        <p class="muted">Want to log out? <a th:href="@{/logout}">Logout</a></p>
    </div>
</body>
</html>